#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.con{


width:700px;
height:500px;
 font-family: 'EB Garamond',serif;
}


.link_cover{
     border: none;
    margin-top:30px;
    animation-name:linkss;
    animation-duration:2s;
}

 .link_btnn img{
    border: none;
      height:30px;
      width:30px;
      filter:brightness(95%);
  }


.hero .portfolio_btn{

border:none;
    animation-name:portfoli_o;
    animation-duration:2.2s;
}

@keyframes portfoli_o{

    0%{
        opacity:0;
        transform:translateX(-35px);
    }
    100%{

        opacity:1;
       
 transform:translate(0px);
    }
}


.hero .shop_btn{

    animation-name:sho_p;
    animation-duration:2.5s;
}

@keyframes sho_p{

    0%{
        opacity:0px;   transform:translateX(30px);
    }

    100%{

        opacity:1;
transform:translateX(0px);
    }
}

@keyframes linkss{

  0%{
      opacity:0;
      transform:translateY(30px);
  }

  100%{
      opacity:1;
      transform:translateY(0px);
  }
}



.caption_cover{
border-radius: 15px;
height:450px;
border:none ;
width: 60%;
margin:auto;
border:none;

}

.caption_cover p.caption_text1{
font-weight: bold;
font-size: 20px;
}

.banner_img{
  /* border: 3px solid green; */
  filter: brightness(30%);
}




.caption_cover p.caption_text1{
 
animation-name:rider1 ;
  animation-duration:2s;

z-index:1 ;
}





@keyframes rider1{

0%{transform:none;

   opacity: 0; color:lightgrey;
}


50%{
          
          opacity: 0;color: white;

  }



  100%{
          
          opacity: 1;color: white;

  }
}




.caption_cover p.caption_text2{
font-size: 29px;
padding-top:0px;
}



.caption_cover p.caption_text2{
 
animation-name:rider;
  animation-duration:2s;

z-index:1 ;
min-height:50px;
}





@keyframes rider{

0%{transform:translateY(300px);

   opacity: 0; color:lightgrey;
}

50%{

 transform:translateY(100px);
          opacity: 0;color: white;

}


75%{

 transform:translatey(100px);
          opacity: 0;color: white;

}

  100%{
          transform:translateX(0px);
          opacity: 1;color: white;

  }
}




.portfolio_con{

  border: none;
width:100%;
min-height:400px;

}

.portfolio_text{
color:black;
  padding-top: 60px;
}

.portfolio_text2{

  font-size: 16px;
  padding-top: 30px;
  color: black;
}

.about_cover{
  border:none;
  min-height: 420px;
  margin-top:40px;
   font-family: "EB Garamond",serif;
}

.about_row{
  border:none;
  min-height: 400px;
  margin-bottom: 30px;
  margin-top:40px;
}


.about_text{
 padding-bottom: 20px;
 color: black;
}

.about_button{

width: 150px;
}

.shop_con{

  border:none;
  min-height:400px;
  margin: 70px;
    font-family: "EB Garamond",serif;
}

.shop_text{

  margin-top: 70p;
  padding-bottom: 5px;
  color: black;
}

.shop_text2{

  font-size: 17px;
  color: black;
}
.shop_text3{
  
  font-size: 15px;
  color: black;
  margin-top: -15px;
    text-align: left;
}

.shop_text4{

  font-size: 15px;
  color: black;
    text-align: left;
}

.shop_price{

  font-size: 16px;
  color:black;
  margin-top: -15px;
  text-align: left;
  padding-left: 0px;
  font-weight: bold;
}

.shop_text_row3{
  padding-top: 30px;
  color: black;
}

.buy{
  margin-left:10px;
}

.whatWeOffer_con{
  border:none;
  min-height:440px;
  margin-top: 0px;
  font-family: "EB Garamond",serif;
}

.whatweoffer_text{

  color: black;
}

.whatWeOffer_text2{

  text-align: center;
 margin-top: 30px;
  font-size: 17px;
  border:none;
  color:black;

}

.we_offername{

  font-size: 20px;
  padding-top: 20px;
  color: black;
}


.why_chooseCon{
  border:none;
  height:450px;
  font-family: "EB Garamond",serif;
  color: black;
}

.why_choose_row{
border:none;
padding-top: 50px;

}

.whyChoose_image{
 border:none;
 height:300px;

}

.whyChoose_text2{

  list-style-type: none;
  font-size: 18px;
  color: black;
}

.aboutPage_con{
 font-family: "EB Garamond",serif;
 margin-top: 50px;
 min-height: 500px;
 border:none;
}

.about_pageCover{
  
  border:none;
  height: 400px;
  margin-bottom: 60px;
}

.founderImg img{
  margin-top: 20px;

 height: 300px; 
}

.founderText{
font-size:19px ;
padding-top: 60px;
}

.ourStory_row{
background-color: black;
border: none;
height: 400px;
margin-top: 50px;
color: white;
margin-bottom: 70px;
}

.ourStory_text1{

  padding-top: 50px;
  padding-bottom: 40px;
}


.ourStory_text2{
font-size: 18px;
border: none;
line-height: 2.5rem;
}

.mission_cover{
border:none;
margin-bottom: 70px;
height: 300px;

}

.mission_cover ul{
  font-size: 19px;
  list-style-type: none;
}



.vision_cover{

  border:none;
}

.vision_cover ul{

  font-size: 19px;
}

/* .userCart_row{

  border: none;
} */

  .port_details_img{

    height: 400px;
     width: 50%;
     margin-top:40px;
     margin-bottom:40px;
  }


.details_cover{
margin-top: 80px;
border:none;
color: black;
  text-align:left;
}

.details_text1{
  font-family: "EB Garamond",serif;
margin-top: 30px;
margin-bottom: 30px;
color: black;
}

.details_text2{
font-family: "EB Garamond",serif;
  font-size: 22px;
  font-weight:nornal;
 color:black;
}

.details_text3{
font-family: "EB Garamond",serif;
  font-size: 20px;
   text-align: left;
   color:black;
}

.details_text4{
font-family: "EB Garamond",serif;
  font-size: 20px;
   text-align: left;
   font-weight: bold;
   color: black;
}

  .quantity_cover{
  height:150px;
    border:none;
    text-align: left;
  }

  .quantity_cover input{
 background-color: white;
 color: black;
 border-radius: 30px;
 width: 90px;
  }

  .details_cover button{
  background-color: rgb(92, 79, 63);
    margin-top: 50px;
    margin-left: 20px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
  }


  .shop_more{

      font-family: "EB Garamond",serif;

  }

  .userCart_row{
  
    border:none;
    margin-bottom: 40px;
    margin-top: 90px;
  }

  .userCart_image{

    text-align: left;
  }

  .userCart_discCover{
    border:none;
    text-align: left;
    margin-bottom: 30px;
    font-family: "EB Garamond",serif;
  }

  .userCart_title{
font-weight:normal;
padding-right: 30px;
  }

  .userCart_price{
font-weight:normal;
padding-right: 30px;
  }

  .userCart_qtyText{
padding-right: 5px;
font-weight: normal;
  }


  .userCart_qtyNum{
padding-right: 30px;

  }

  .userCart_subtotal{

    font-weight: normal;
  }

  .UserCart_totalPriceCover{

     height:300px;
    border:none;
    
    font-family: "EB Garamond",serif;
    text-align: left;
  }

  .UserCart_totalText{
margin-bottom: 30px;
text-align: left;
padding-top: 100px;

  }




  .joulz_landContainer{

border:none;
min-height: 500px;

margin-top: 20px;

background-image: url('./assets/interior2.jpg');
background-attachment: fixed;
background-size: cover;
background-position: center;

  } 




div.bubbles{
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  z-index: 1;
  border-radius: 50px;
  	animation: bubble 2s linear infinite;


}

.dot{

	height:10px;
	width: 10px;
	border: 2px solid white;
	border-radius: 50px;
	position: absolute;
	top: 5px;
	left: 14px;
	background-color: white;
}


div.bubbles:nth-child(1){

	top:400px;
	left:1200px;
	animation: bubble 3s linear infinite;
}



div.bubbles:nth-child(2){

	top:500px;
	left:70px;
	animation: bubble 3s linear infinite;
}



div.bubbles:nth-child(3){

	top:60px;
	left:150px;
	animation: bubble 3s linear infinite;
}

div.bubbles:nth-child(4){

	top:550px;
	left:210px;
	animation: bubble 3s linear infinite;;
}

div.bubbles:nth-child(5){

	top:30px;
	left:330px;
	animation: bubble 3s linear infinite;
}

div.bubbles:nth-child(6){

	top:250px;
	left:70px;
	animation: bubble 5s linear infinite;
}

div.bubbles:nth-child(7){

	top:20px;
	left:120px;
	animation: bubble 3s linear infinite;
}

div.bubbles:nth-child(8){

	top:680px;
	left:80px;
	animation: bubble 4s linear infinite;
}

div.bubbles:nth-child(9){

	top:500px;
	left:260px;
	animation: bubble 5s linear infinite;
}

div.bubbles:nth-child(10){

	top:300px;
	left:290px;
	animation: bubble 2s linear infinite;
}


@keyframes bubble{


	0%{  transform:scale(0) translateY(0px) rotate(70deg); }
	100%{ transform:scale(0.2) translateY(-1150px) rotate(360deg); }
}


















@media screen and (max-width:1000px){

	  .port_details_img{

    height: 400px;
     width: 100%;
     margin-top:40px;
     margin-bottom:40px;
  }

  .aboutPage_con{
 font-family: "EB Garamond",serif;
 margin-top: 90px;
 min-height: 500px;
 border:none;
}
  .about_pageCover{
  
  border:none;
  height: 700px;
  margin-bottom: 60px;

}


  .why_chooseCon{
  border:none;
  height:820px;
  font-family: "EB Garamond",serif;
  color:black;
}

	.whyChoose_text2{

padding-top: 50px;
}

.ourStory_row{
background-color: black;
border: none;
height: 700px;
margin-top: 50px;
color: white;
margin-bottom: 70px;
}

.about_cover{
  border:none;
  min-height: 420px;
  margin-top:40px;
   font-family: "EB Garamond",serif;
}

.about_row{
  border:none;
  min-height: 400px;
  margin-bottom: 30px;
  margin-top:40px;
}


.about_text{
 padding-bottom: 20px;
 color:black;
 
}

.about_text2{
 padding-top: 20px;
 color: black;
 font-size: 17px;
 
}


.about_button{

width: 150px;
}



.caption_cover{
border-radius: 15px;
height:450px;
border:none ;
width: 65%;
margin:auto;
border:none;

}

.caption_cover p.caption_text1{
font-weight: bold;
font-size: 20px;
}



.caption_cover p.caption_text1{
 
animation-name:rider1 ;
  animation-duration:2s;

z-index:1 ;
}





@keyframes rider1{

0%{transform:none;

   opacity: 0; color:lightgrey;
}


50%{
          
          opacity: 0;color: white;

  }



  100%{
          
          opacity: 1;color: white;

  }
}




.caption_cover p.caption_text2{
font-size: 17px;
padding-top:0px;
}



.caption_cover p.caption_text2{
 
animation-name:rider;
  animation-duration:2s;

z-index:1 ;
min-height:50px;
}





@keyframes rider{

0%{transform:translateY(300px);

   opacity: 0; color:lightgrey;
}

50%{

 transform:translateY(100px);
          opacity: 0;color: white;

}


75%{

 transform:translatey(100px);
          opacity: 0;color: white;

}

  100%{
          transform:translateX(0px);
          opacity: 1;color: white;

  }
}




  .App{

    height: 100%;
    /* border:2px solid blue; */
    margin:0;
    padding: 0;
    width:100%;
  }

  /* #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}




  .navbar-wrapper {
    margin-left:0px;
    border:none;
   }
  

  .navbar-wrapper a{
    padding-left:10px;
    border:none;
    color: white;
    padding-top:70px;
   }
   
 */


}
/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
